body {
    background-color: lightblue;
}

#projectsPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav {
    margin-top: 5px;
    margin-bottom: 10px;
}

#bioButton,
#techButton,
#projectButton {
    border: solid 1px white;
    margin-right: 8px;
}

@media only screen and (max-width: 599px){
.project {
    border: 1px solid;
    background-color: white;
    text-align: center;
    width: 40%;
}
}

@media only screen and (min-width: 600px){
    .project {
    width: 30%;
    border: 1px solid;
    background-color: white;
    text-align: center;
    
    }
}